body{
    margin: 0;
    padding: 0;
    background-image: url('hr.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;                
   }
   .goUp{
    display:none;
    padding:20px;
    background:#16afaa;
    font-size:20px;
    color:#1425a8;
    cursor:pointer;
    position: fixed;
    bottom:20px;
    right:20px;
    z-index: +1;
   }
   .textbg{
     
    padding: 10px; 
    color:white; 
    font-family: arial,helvetica; 
    font-size:14px;
   }
   .textbg1{
     
    padding: 10px; 
    color:white; 
    font-family: "plasmati"; 
    font-size:14px;
   }

   .navSearch{
       display:none;
   }
   
   .superpos{
    z-index: +1;
   }
   .navsuperpos{
       background:#b26ed8;
       top: 0;
       position: absolute;
       max-width: 15%;

   }
   .mainnav{
      background:#8349a3;
   }
   
   .mobwin{
    z-index: 1003; 
    display: block; 
    opacity: 1; 
    top: 10%; 
    transform: scaleX(1) scaleY(1);
   }
   @font-face {
    font-family: "plasmati";
    src:url(plasmatic.ttf);
}

