body{
    margin: 0;
    padding: 0;
    background-image: url('hr.png');
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;     
              
   }
   .goUp{
    display:none;
    padding:20px;
    background:#16afaa;
    font-size:20px;
    color:#1425a8;
    cursor:pointer;
    position: fixed;
    bottom:20px;
    right:20px;
    z-index: +1;
   }
   .textbg{
     
    padding: 10px; 
    color:black; 
    font-family: arial,helvetica; 
    font-size:14px;
    background-color: #69D4FF;
   }
   .textbg1{
     
    padding: 10px; 
    color:black; 
    font-family: arial,helvetica; 
    font-size:14px;
    background-color: #69D4FF;
   }

   #searchBar{
       display:none;
   }
   
   
   .superpos{
    z-index: +1;
   }
   .navsuperpos{
       background:#549AE8;
       top: 0;
       position: absolute;
       max-width: 15%;

   }
   .mainnav{
      background:#4973FF;
   }
   
   .mobwin{
    z-index: 1003; 
    display: block; 
    opacity: 1; 
    top: 10%; 
    transform: scaleX(1) scaleY(1);
   }
   @font-face {
    font-family: "plasmati";
    src:url(plasmatic.ttf);
}

#card4{
    background-color: #549AE8;
}

.estrella{
    width: 30%;
    height: auto;
    padding: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

